<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
     <sly data-sly-call="${clientlib.all @ categories='home.loan.link'}">
</sly>
<div class="para-before-border" style="margin-top:20px;"></div>
<div class="whole-body-font" style="padding:0px 95px;">

<!--<h1 style="color:#EF7C00; font-weight:100; font-size:25px;">${properties.title}</h1>-->
<div style="padding:20px;">


<strong>EMIs on ICICI Bank Home Loans</strong>
<p>Thanks to lower EMIs, ICICI Bank Home Loans are light on your wallet. Lower <a href="https://www.icicibank.com/interest-rates.page?ITM=nli_cms_hl_btn_EmiCal_interest_rates" target="_blank">interest rate</a> combined with a repayment tenure as long as 30 years*, make our EMIs more affordable for you. You can estimate your EMI by using our user-friendly Home Loan EMI calculator.
You can also opt for the auto debit facility on your ICICI Bank Savings Account to repay your home loan EMIs and earn reward points that can be redeemed against exciting rewards from our partners.</p> 

<strong>Balance Transfer facility</strong>
<p>To save money and to reduce the burden of repaying the home loan that you have taken from another bank or Non-Banking Financial Company (NBFC), <a href="https://loans.icicibank.com/loans/home-loan/#/home-loan-application" target="_blank">Apply here</a> for balance transfer. </p>


</div>
</div>
